<tr data-id="{{id}}">
  <td><img src="{{imagePath}}" alt="cart-item"></td>
  <td>{{title}}</td>
  <td>
    <span class="quantity_modifier">
      <i class="fa fa-minus" aria-hidden="true"></i>
    </span>
    <p>{{quantity}}</p>
    <span class="quantity_modifier">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </span>
  </td>
  <td class="total_price">${{aggregate_price price quantity}}</td>
</tr>
